 <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
             
                <ul class="nav side-menu">
                  <li class="active"><a href="javascript:void(0)"><i class="fa fa-home"></i> Dash</a></li>
                  <li class=""><a href="javascript:void(0)"><i class="fa fa-database"></i> Donnees</a></li>
                  <li class=""><a href="javascript:void(0)"><i class="fa fa-location-arrow"></i> Map</a></li>
                  <li class=""><a href="javascript:void(0)"><i class="fa fa-gamepad"></i> Control</a></li>
                  
                 
                </ul>
              </div>
              

            </div>