<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">

        <ul class="nav side-menu">
            <li class=""><a href="#" id="aside_home_btn"><i class="fa fa-home"></i> Dash</a></li>
            <li class=""><a href="#" id="aside_sites_btn"><i class="fa fa-database"></i> Donnees</a></li>
            <li class=""><a href="#" id="aside_control_btn"><i class="fa fa-gamepad"></i> Control</a></li>
            <li><a><i class="fa fa-gear"></i> Parmètres <span class="fa fa-chevron-down"><span></a>
                    <ul class="nav child_menu">
                    	<li><a href="form_advanced.html"><i class="fa fa-list"></i>Liste des utilisateurs</a></li>
                      <li><a href="form.html"><i class="fa fa-plus"></i>Ajouter un utilisateur</a></li>
                    </ul>
                  </li>

        </ul>
    </div>
</div>