<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right" style="margin-right: 5%">
                <li>
                    <a   href="{{url_for('logout')}}">
                        <i class="glyphicon glyphicon-log-out"  ></i>

                    </a>
                </li>
              
                <li>
                    <a   id="btnFullScreen">
                        <i class="glyphicon glyphicon-fullscreen"  ></i>

                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>