<div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right" style="margin-right: 5%">

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-bell-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="glyphicon glyphicon-alert"></span>
                        <span>
                          <span>Notification</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Restarting the connection...
                        </span>
                      </a>
                    </li>
                    
                  </ul>
                </li>
                <li>
                    <a   id="btnFullScreen">
                    <i class="glyphicon glyphicon-fullscreen"  ></i>
                   
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>