<!DOCTYPE html>
<html lang="en" >

    <head>
        <meta charset="UTF-8">
        <title>Startuppage</title>

        <link rel="stylesheet" href="{{ url_for('static' ,filename='build/css/reset.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static' ,filename='build/css/style.css')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='build/css/normalize.css')}}">



    </head>

    <body>

        <div  class='brand'  >
            <h1 class='hbrand'><strong>CARTO</strong>&nbsp;drone</h1>
        </div>
        <!-- multistep form -->
        <form id="msform">

            <fieldset >
                  <div >
                    <img class='img_lock' src="{{url_for('static' ,filename='img/lock.png')}}" width="200" height="200">

                    </div>

                    <h3 class="fs-subtitle">Veuillez saisir votre nom d'utilisateur et mot de passe</h3>

                    <input class="my_input" type="text" placeholder="Nom d'utilisateur"><br/>
                    <input class="my_input" type="text" placeholder="Mot de passe">
                    <hr class="hr_bottom" >

                    <a href="/carto" class="action-button" style="text-decoration: none; margin-top: 10px;margin-bottom: 10px">Connection</a>
            </fieldset>
        </form>
        <script src="{{url_for('static',filename='build/js/jquery.min.js')}}"></script>
        <script src="{{ url_for('static',filename='build/js/jquery.easing.min.js')}}"></script>
         <script  src="{{url_for('static',filename='build/js/index.js')}}"></script>




    </body>

</html>
