{%extends 'layouts/base.html'%}
{%block content%}
<style>
    #cbx_select_site{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 70%;
        border-radius: 20px;
          /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map_representation {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    }
</style>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Representation des donnees</h2>
                <select class="form-control" id="cbx_select_site">
                    <option>Site 1</option>
                    <option>Site 1</option>
                    <option>Site 1</option>
                </select>
              
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="map_representation">
                    
                </div>
            </div>
        </div>
    </div>
</div>


   

    <script>

      // This example creates a simple polygon representing the Bermuda Triangle.

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map_representation'), {
          zoom: 5,
          center: {lat: 24.886, lng: -70.268},
          mapTypeId: 'terrain'
        });

        // Define the LatLng coordinates for the polygon's path.
        var triangleCoords = [
          {lat: 25.774, lng: -80.190},
          {lat: 18.466, lng: -66.118},
          {lat: 32.321, lng: -64.757},
          {lat: 25.774, lng: -80.190}
        ];

        // Construct the polygon.
        var bermudaTriangle = new google.maps.Polygon({
          paths: triangleCoords,
          strokeColor: '#FF0000',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#FF0000',
          fillOpacity: 0.35
        });
        bermudaTriangle.setMap(map);
      }
      {% endblock%}