<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-bars"></i> Ajout d'un utilisateur <small></small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab1" class="nav nav-tabs bar_tabs right" role="tablist">

                    <li role="presentation" class=""><a href="#tab_content22" role="tab" id="profile-tabb" data-toggle="tab" aria-controls="profile" aria-expanded="false"><i class="fa fa-plus"></i>Ajouter</a>
                    </li>
                    <li role="presentation" class="active"><a href="#tab_content33" role="tab" id="profile-tabb3" data-toggle="tab" aria-controls="profile" aria-expanded="true">Utilisateurs</a>
                    </li>
                </ul>
                <div id="myTabContent2" class="tab-content">

                    <div role="tabpanel" class="tab-pane fade" id="tab_content22" aria-labelledby="profile-tab">
                        <div class="alert alert-success alert-dismissible fade in" role="alert" id="alert_sucess">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <strong>Le compte utilisateur</strong> a été crée avec sucèss!.
                        </div>
                        <div class="alert alert-success alert-dismissible fade in" role="alert" id="alert_fail">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <strong>Une erreur</strong>s'est produite lors de la creation du compte.
                        </div>
                        <div class="col-md-6 col-xs-12">

                            <form class="form-horizontal " method="post" action="{{url_for('settings')}}">
                                {{form.csrf_token}}
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    {{form.lastName(class_="form-control has-feedback-left")}}
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    {{form.firstName(class_="form-control has-feedback-left")}}

                                    <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    {{form.email(class_="form-control has-feedback-left")}}
                                    <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    {{form.telephone(class_="form-control has-feedback-left")}}
                                    <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                    {{form.username(class_="form-control has-feedback-left")}}
                                    <span class="fa fa-user-secret form-control-feedback right" aria-hidden="true"></span>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                    {{form.password(class_="form-control has-feedback-left")}}
                                    <span class="fa fa-lock form-control-feedback right" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback" style='margin-bottom: 20px'>
                                    {{form.confPassword(class_="form-control has-feedback-left")}}
                                    <span class="fa fa-lock form-control-feedback right" aria-hidden="true"></span>
                                </div>

                                <div class="form-group" >
                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">

                                        <button class="btn btn-primary" type="reset">Recomencer&nbsp;<i class='fa fa-refresh'></i></button>
                                        <button id="btnSubmit" type="button" class="btn btn-success" disabled >Ajouter&nbsp;<i class='fa fa-check'></i></button>
                                    </div>
                                </div>

                            </form>

                        </div>    
                        <div class='col-md-6 col-xs-12'>
                            <img src="{{url_for('static',filename='img/add_user.png')}}" width="300" height="300"/>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content33" aria-labelledby="profile-tab">
                        <img src="{{url_for('static',filename='img/loading.gif')}}" style="margin-left:auto;margin-right: auto;display: block">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script >
    $(document).ready(function () {
        $('#alert_sucess').hide();
        $('#alert_fail').hide();
        function getUserData() {
            var url = "/user_data";
            $.get(url, function (data) {

                $('#tab_content33').html(data);

            });
        }
        getUserData();


        $('#btnSubmit').click(function () {
            if (verifie()) {
                valider();

            }
        });
        var firstName, lastName, email, telephone, username, password, confPassword, btnSubmit;
        btnSubmit = $('#btnSubmit');
        firstName = $('#firstName');
        lastName = $('#lastName');
        email = $('#email');
        telephone = $('#telephone');
        username = $('#username');
        password = $('#password');
        confPassword = $('#confPassword');
        firstName.keyup(function () {
            verifie();
        });
        lastName.keydown(function () {
            verifie();
        });
        email.keyup(function () {
            verifie();
        });
        telephone.keyup(function () {
            verifie();
        });
        username.keyup(function () {
            verifie();
        });
        password.keyup(function () {
            if (password.val() === '' ||password.length<5 || confPassword === '' || (password.val() !== confPassword.val())) {
                password.css('borderColor', 'red');
                confPassword.css('borderColor', 'red');
            }else{
                 password.css('borderColor', 'green');
                confPassword.css('borderColor', 'green');
            }
        });
        
        btnSubmit.click(function(){
            valider();
        });
        confPassword.keyup(function () {
            if (password.val() === '' ||password.length<5 || confPassword === '' || (password.val() !== confPassword.val())) {
                password.css('borderColor', 'red');
                confPassword.css('borderColor', 'red');
            }else{
                 password.css('borderColor', 'green');
                confPassword.css('borderColor', 'green');
            }
        });
        //Verification de la validation des donnees
        function verifie() {
            if (firstName.val() !== '' && lastName.val() !== '' && email.val() !== '' && telephone.val() !== '' && username.val() !== '' && (password.val() === confPassword.val())) {
                btnSubmit.removeAttr('disabled');
            }
            else{
                 btnSubmit.attr('disabled','disabled');
            }
        }
        function valider() {
            btnSubmit.attr('disabled','disabled');
            $.ajax({
                url: '/settings',
                data: $('form').serialize(),
                type: 'POST',
                success: function (response) {
                    
                    $('#alert_sucess').show();
                    $('form')[0].reset();
                },
                error: function (error) {
                    console.log(error);
                    $('#alert_fail').show();
                }
            });
        }
    });
</script>