


<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-left top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Rechercher" id="timelinetxtsearch">
                <span class="input-group-btn">
                    <button class="btn btn-default"  type="button">Rechercher</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
        <h2>Historique des  prélèvements <small></small></h2>
        <button  class="btn btn-success btn-lg pull-right" data-toggle="modal" data-target="#myModal" id="trigger_my_modal"><i class="fa fa-map"></i> &nbsp;Carte</button>

        <div class="clearfix"></div>
    </div>
    <div class="x_content" id="dataZone_timeline">

        <ul class="list-unstyled timeline" >
            {% for s in sites %}
            <li>
                <div class="block">
                    <div class="tags">
                        <a href="#" class="tag data_view" id="{{s.id}}">
                            <span>Apercu <i class="fa fa-eye"></i></span>
                        </a>
                    </div>
                    <div class="block_content">
                        <h2 class="title">
                            <a>Site de &nbsp; {{s.name |title}} &nbsp;({{s.coordonnates|length}} &nbsp;points)</a>
                        </h2>
                        <div class="byline">
                            <span>Crée le &nbsp; {{s.create_at}} </span> type de prelevement <a>{{s.capture_type }}</a>
                        </div>
                        <p class="excerpt">{{s.description }}

                        </p>
                        <p class="url">
                            <a href="{{url_for('download_files',id=s.id)}}" class="btn btn-info btn-xs">
                                Fichier GPX &nbsp; <i class="fa fa-download"></i>
                            </a>

                        </p>
                        <div class="accordion" id="accordion{{s.id}}" role="tablist" aria-multiselectable="true">
                            <div class="panel">
                                <a class="panel-heading collapsed" role="tab" id="headingOne1" data-toggle="collapse" data-parent="#accordion{{s.id}}" href="#collapseOne{{s.id}}" aria-expanded="false" aria-controls="collapseOne">
                                    <h4 class="panel-title">Details</h4>
                                </a>
                                <div id="collapseOne{{s.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">

                                        <table class="table table-striped jambo_table bulk_action">
                                            <thead>
                                                <tr class="headings">

                                                    <th class="column-title">No  </th>
                                                    <th class="column-title">Latitude </th>
                                                    <th class="column-title">Longitude</th>
                                                    <th class="column-title">Altitude</th>
                                                    <th class="column-title">Vitesse</th>
                                                    <th class="column-title">Course</th>
                                                    <th class="column-title">Satellite</th>
                                                    <th class="column-title">Date</th>
                                                    <th class="column-title">Site </th>

                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for c in s.coordonnates %}
                                                <tr class="even pointer">
                                                    <td class="a-center ">
                                                        {{loop.index}}
                                                    </td>
                                                    <td class=" ">{{c.lat}}</td>
                                                    <td class=" ">{{c.long}}</td>
                                                    <td class=" ">{{c.alt}}<i class="success fa fa-long-arrow-up"></i></td>
                                                    <td class=" ">{{c.speed}}</td>
                                                    <td class=" ">{{c.course}}</td>
                                                    <td class=" ">{{c.satellite}}</td>
                                                    <td class=" ">{{c.moment}}</td>
                                                    <td class=" ">{{s.name}}</td>

                                                </tr>
                                                {% if (s.coordonnates)|length==0 %}
                                                <tr>Aucune donnee trouvé !</tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>


    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog mymodal " >

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Apercu global des informations</h4>
                <select class="form-control" style="width: 40%; margin-left: auto;margin-right: auto; display: block; border-radius: 20px">
                    {% for s in sites%}

                    <option value="{{s.id}}">{{s.name}}</option>

                    {% endfor %}
                </select>
            </div>
            <div class="modal-body" id="modal_map">
                <img src="{{ url_for('static', filename='img/loading.gif' )}}" style="margin-left: auto; margin-right: auto; display: block">
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <table>
                        <tr>
                            <th>Surface:&nbsp;</th>
                            <td id="polygone_area">N/A</td>

                        </tr>

                        <tr>
                            <th>Perimetre:&nbsp; </th>
                            <td id="polygone_line">N/A</td>

                        </tr>

                        <tr>
                            <th>Longueur de ligne:&nbsp; </th>
                            <td id="polygone_length">N/A</td>

                        </tr>


                    </table>

                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script src="{{url_for('static',filename='build/js/map_show.js')}}"> </script>

